@media (max-width: 600px) {
  .cdk-overlay-pane {
    width: 100vw !important;
    height: 100vh !important;
  }
}

#new-message-form {
  flex: 1 1 auto;
}

#new-message-box {
  width: 100%;
}

#chat-footer {
  display: flex;
}

button {
  margin: 0 4px;
}

#send-message-btn {
  background: #2ecc71;
  color: #fff;
}

#close-chat-btn {
  background: #e74c3c;
  color: #fff;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep .mat-list .mat-list-item{
  height: initial !important;
  padding-bottom: 15px;
}

.message {
  font-size: 0.8rem;
  h3 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  .sent {
    font-size: 0.7rem;
    color: #666;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .body {
    color: #333;
  }
}
