<h2 mat-dialog-title="">
  Ride Chat
  <button mat-icon-button="" (click)="getMessages()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button="" (click)="deleteChat()">
    <mat-icon>delete</mat-icon>
  </button>
</h2>
<mat-dialog-content class="chat-container">
  <app-message *ngFor="let m of messages"
               [message]="m">
  </app-message>
</mat-dialog-content>
<mat-dialog-actions id="chat-footer">
  <form id="new-message-form" [formGroup]="sendMessageForm">
    <mat-form-field id="new-message-box">
      <textarea matInput formControlName="messageToSend" placeholder="New message" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="5" [(ngModel)]="messageToSend.body" (keyup.enter)="sendMessage()"></textarea>
    </mat-form-field>
  </form>
  <div>
    <button id="send-message-btn" mat-icon-button="" (click)="sendMessage()"><mat-icon>send</mat-icon></button>
    <button id="close-chat-btn" mat-icon-button="" mat-dialog-close=""><mat-icon>close</mat-icon></button>
  </div>
</mat-dialog-actions>
