
<mat-expansion-panel #elem class="rides" [id]="ride.owner" hideToggle="true" [expanded]="openState">
  <mat-expansion-panel-header class="ride-title" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">

    <div></div>


    <div class="time-date" *ngIf="ride.isDriving" style="background-color: #3b823a">
      <span>May</span>
      <span>25th</span>
      <span class="departuretime">{{ride.departureTime}}</span>
    </div>

    <div class="time-date" *ngIf="!ride.isDriving" style="background-color: #af496b">
      <span>May</span>
      <span>25th</span>
      <span class="departuretime">{{ride.departureTime}}</span>
    </div>

    <div class="route">
      <div class="origin">
        <mat-icon class="origin_icon">panorama_fish_eye</mat-icon>
        <div class="origin_text">
          <div id="origin">{{ride.origin}}</div>
        </div>
      </div>
      <mat-divider id="divider"></mat-divider>
      <div class="destination">
        <mat-icon class="destination_icon">navigate_next</mat-icon>
        <div class="destination_text">
          <div id="destination">{{ride.destination}}</div>
        </div>
      </div>
    </div>
    <!--<button mat-button id="open-chat-button" (click)="openChat(ride._id)"><mat-icon>chat</mat-icon></button>-->
  </mat-expansion-panel-header>

  <div id="body-wrapper">
    <div class="seats-available" *ngIf="ride.seatsAvailable < 1">
      There are no seats left on this ride.
    </div>
    <div class="seats-available" *ngIf="ride.seatsAvailable > 0">
      There are {{ride.seatsAvailable}} seats left on this ride.
    </div>
    <div id="ride-info-driver-id" class="ride-info-driver">
      {{ride.owner}} is the owner of this ride.
    </div>
    <mat-divider></mat-divider>

    <!--<div *ngIf="ride.notes" class="ride-info notes">-->
      <!--<small>DRIVER NOTES:</small>-->
      <!--<div>{{ride.notes}}</div>-->
    <!--</div>-->
    <mat-action-row class="action-row">

      <button *ngIf="userIsAPassenger(ride)"
              id="leave-ride-button"
              mat-raised-button
              (click)="leaveRide(this.currUserId, ride._id.$oid);openCard()">
        Leave Ride
      </button>

      <button *ngIf="!userIsAPassenger(ride)"
              id="join-ride-button"
              mat-raised-button
              (click) = "joinRide(ride._id, this.currUserId, this.currUserFullName);openCard()">
        Join This Ride
      </button>
      <button mat-button id="open-chat-button" (click)="openChat(ride._id)">
        <mat-icon>chat</mat-icon>
      </button>
    </mat-action-row>
  </div>

</mat-expansion-panel>
