<mat-card *ngIf="!fullCard" class="slim-ride-card" (click)="openRide()">
  <div class="ride-card-content">
    <div class="departing" *ngIf="ride.driverID" style="background: #7a0019; color: white">
      <div>{{ride.departureDate | date: 'MMM d'}}</div>
      <div>{{this.hourParse(ride.departureTime)}}</div>
    </div>
    <div class="departing" *ngIf="!ride.driverID" style="background: #2ecc71">
      <div>{{ride.departureDate | date: 'MMM d'}}</div>
      <div>{{this.hourParse(ride.departureTime)}}</div>
    </div>
    <div class="start-location">
      {{ride.origin}}
    </div>
    <div class="end-location">
      {{ride.destination}}
    </div>
  </div>
</mat-card>

<mat-card *ngIf="fullCard" class="full-ride-card">

  <mat-card-header class="ride-title-isDriving" [id]="ride._id.$oid">

    <div class="route">
      <div class="ride-info origin">{{ride.origin}}</div>
      <mat-icon>play_arrow</mat-icon>
      <div class="ride-info destination">{{ride.destination}}</div>
    </div>

    <div class="menu_spacer"></div>

    <div *ngIf="(this.ride.ownerID === this.currUserId)">
      <button mat-icon-button [matMenuTriggerFor]="menu" id="settingsDriving" class="card-top-right-button">
        <mat-icon class="dots">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div>
          <button mat-menu-item
                  (click)="giveRideToService(ride)"
                  id="editDialogOpen"
                  routerLink="/editride">
            <span>Edit Ride</span>
          </button>
          <button mat-menu-item
                  (click)="openDeleteDialog(ride._id)"
                  id="deleteDialogOpen" >
            <span>Delete Ride</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="departure-and-seats">
      <div class="departure-time">
        <span>
          {{ride.departureDate | date: 'MMM d'}}
        </span>

        <span *ngIf="ride.departureTime">
          at {{this.hourParse(ride.departureTime)}}
        </span>
      </div>

      <div class="seats-left" *ngIf="ride.seatsAvailable">
        <small *ngIf="ride.seatsAvailable === 1"> {{ride.seatsAvailable}} SEAT LEFT </small>
        <small *ngIf="ride.seatsAvailable !== 1"> {{ride.seatsAvailable}} SEATS LEFT </small>
      </div>
    </div>

    <h3>Passengers</h3>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item *ngFor="let person of people" class="person" routerLink="/profile/{{person.userId}}">
        <img matListAvatar [src]="person.pictureUrl" alt="avatar">
        <h4 matLine>{{person.fullName}}</h4>
        <mat-chip-list matLine>
          <mat-chip *ngIf="person.userId == ride.driverID">DRIVER</mat-chip>
          <mat-chip *ngIf="person.userId == ride.ownerID">POSTER</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-nav-list>

    <div *ngIf="ride.nonSmoking || ride.roundTrip">
      <h3>Tags</h3>
      <mat-divider></mat-divider>
      <br>
      <mat-chip-list>
        <mat-chip *ngIf="ride.nonSmoking">Smoke free</mat-chip>
        <mat-chip *ngIf="ride.roundTrip">Round trip</mat-chip>
      </mat-chip-list>
    </div>

    <div *ngIf="ride.notes" class="notes">
      <h3>Notes</h3>
      <mat-divider></mat-divider>
      <br>
      <div>{{ride.notes}}</div>
    </div>

    <div *ngIf="checkIfInRide()">
      <h3>Chat</h3>
      <mat-divider></mat-divider>
      <br>
      <app-chat [feedId]="ride._id.$oid"></app-chat>
    </div>
  </mat-card-content>


  <mat-card-actions>
    <!--Join as Passenger Button-->
    <button
      mat-raised-button
      *ngIf="userCanRequestRide()"
      id="join-ride-button"
      color="primary"
      type="button"
      (click)="requestRide(ride._id)">
      Join Ride
    </button>
    <!--Join as Driver Button-->
    <button
      mat-raised-button
      *ngIf="!this.ride.driverID"
      id="drive-ride-button"
      color="primary"
      type="button"
      (click)="driveRide(ride._id, this.currUserId, this.currUserFullName)">
      Drive Ride
    </button>
    <!--Leave Ride Button-->
    <button
      mat-raised-button
      *ngIf="userCanLeaveRide()"
      id="leave-ride-button"
      color="warn"
      type="button"
      (click)="leaveRide(this.currUserId, ride._id.$oid)">
      Leave Ride
    </button>
  </mat-card-actions>

</mat-card>
